[200~C:UsersmikeDesktopfuckJVAscrptmovieinsideout2.mp4~ filter=lfs diff=lfs merge=lfs -text
Desktop/fuck/JVAscrpt/movie/insideout2 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
